<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My CMS</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="ui inverted menu">
        <div class="ui container">
          <a href="#" class="header item">
            <i class="cubes icon"></i>
            My CMS
          </a>
          <div class="right menu">
            <div class="ui form">
              <div class="inline field">
                <button class="ui negative button" v-if="authenticated" v-on:click="logout()">Logout</button>
                <button class="ui blue button" v-if="!authenticated" v-on:click="login()"><i class="icon sign in"></i>Login</button>
                <button class="ui positive button" v-if="!authenticated" v-on:click="register()">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='landing'">
        <div class="ui inverted vertical masthead center aligned segment">
          <div class="ui text container">
            <h1 class="ui inverted header">
              Welcome To Admin Panel
            </h1>
          </div>
        </div>
      </div>
      <div v-if="page=='login'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal header">
              <div class="content">
                Log-in to your account
              </div>
            </h2>
            <div class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="ui fluid large teal button" v-on:click="signin">Login</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='register'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal header">
              <div class="content">
                Register new Account
              </div>
            </h2>
            <div class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="ui fluid large teal button" v-on:click="signup">REGISTER</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="vue.js"></script>
  <script src="index.js"></script>
  </body>
</html>
