<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My CMS</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="ui inverted menu">
        <div class="ui container">
          <a href="#" class="header item">
            <i class="cubes icon"></i>
            My CMS
          </a>
          <a href="#" class="item" v-if="authenticated" v-on:click="gotohome()">
            Home
          </a>
          <a href="#" class="item" v-if="authenticated" v-on:click="gotodata()">
            Data
          </a>
          <a href="#" class="item" v-if="authenticated" v-on:click="gotodatadate()">
            Data Date
          </a>
          <div class="right menu">
            <div class="ui form">
              <div class="inline field">
                <button class="ui negative button" v-if="authenticated" v-on:click="logout()">Logout</button>
                <button class="ui blue button" v-if="!authenticated" v-on:click="login()"><i class="icon sign in"></i>Login</button>
                <button class="ui positive button" v-if="!authenticated" v-on:click="register()">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='landing'">
        <div class="ui inverted vertical masthead center aligned segment">
          <div class="ui text container">
            <h1 class="ui inverted header">
              Welcome To Admin Panel
            </h1>
          </div>
        </div>
      </div>
      <div v-if="page=='login'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal header">
              <div class="content">
                Log-in to your account
              </div>
            </h2>
            <div class="ui large form">
              <div class="ui stacked segment">
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" v-model='username' required>
                  </div>
                </div>
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" v-model='password' required>
                  </div>
                </div>
                <div class="ui fluid large teal button" v-on:click="signin()">Login</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='register'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui green header">
              <div class="content">
                Register new Account
              </div>
            </h2>
            <div class="ui large form">
              <div class="ui stacked segment">
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" v-model='username' required>
                  </div>
                </div>
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" v-model='password' required>
                  </div>
                </div>
                <div class="ui fluid large green button" v-on:click="signup()">REGISTER</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='home'">
        <div class="ui inverted vertical blue masthead center aligned segment">
          <div class="ui text container">
            <h1 class="ui inverted header">
              Welcome To Admin Page, {{message}}
            </h1>
          </div>
        </div>
      </div>
      <div v-if="page=='data'">
        <div class="ui container">
          <div class="ui grid container">
            <div class="ui form">
              <div class="field ui">
                <label>Add new Data</label>
                <input placeholder="letter" type="text" v-model="letter">
                <input placeholder="frequency" type="text" v-model="frequency">
              </div>
              <button class="ui button" v-on:click="addData()">Add Data</button>
            </div>
          </div>
          <br><br><br>
          <div class="ui form">
              <h3>Search</h3>
              <hr>
            <div class="field inline">
              <label>Letter</label>
              <input type="text" placeholder="Letter" v-model="searchLetterData" v-on:keyup="searchData()">
              <label>Frequency</label>
              <input type="text" placeholder="Frequency" v-model="searchFrequencyData" v-on:keyup="searchData()">
            </div>
          </div>
          <table class="ui striped table">
            <thead>
              <th>#</th>
              <th>Letter</th>
              <th>Frequency</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr v-for="data in datas">
                <td>{{data.number}}</td>
                <td>{{data.letter}}</td>
                <td>{{data.frequency}}</td>
                <td>
                  <button class="ui button positive" v-on:click="modalEditData(data._id, data.letter, data.frequency)">Update</button>
                  <button class="ui button negative" v-on:click="deleteData(data._id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-if="page=='dataDate'">
        <div class="ui container">
          <div class="ui grid container">
            <div class="ui form">
              <div class="field ui">
                <label>Add new Data</label>
                <input placeholder="letter" type="text" v-model="letter">
                <input placeholder="frequency" type="text" v-model="frequency">
              </div>
              <button class="ui button" v-on:click="addDataDates()">Add Data Dates</button>
            </div>
          </div>
          <br><br><br>
          <div class="ui form">
              <h3>Search</h3>
              <hr>
            <div class="field inline">
              <label>Letter</label>
              <input type="text" placeholder="Letter" v-model="searchLetterData" v-on:keyup="searchDataDates()">
              <label>Frequency</label>
              <input type="text" placeholder="Frequency" v-model="searchFrequencyData" v-on:keyup="searchDataDates()">
            </div>
          </div>
          <table class="ui striped table">
            <thead>
              <th>#</th>
              <th>Letter</th>
              <th>Frequency</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr v-for="data in dataDates">
                <td>{{data.number}}</td>
                <td>{{data.letter}}</td>
                <td>{{data.frequency}}</td>
                <td>
                  <button class="ui button positive" v-on:click="modalEditDataDates(data._id, data.letter, data.frequency)">Update</button>
                  <button class="ui button negative" v-on:click="deleteDataDates(data._id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="modalData" class="ui basic modal">
        <div class="ui icon header">
          Update Item
        </div>
        <div class="content">
          <div class="ui form">
            <div class="fields inline">
              <label class="ui inverted">Letter</label>
              <input placeholder="Letter" v-model="editLetter">
            </div>
            <div class="fields inline">
              <label class="ui inverted">Frequency</label>
              <input placeholder="Frequency" v-model="editFrequency">
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
          </div>
          <div class="ui green ok approve inverted button">
            <i class="checkmark icon"></i>
            Yes
          </div>
        </div>
      </div>
    </div>
  <script src="vue.js"></script>
  <script src="index.js"></script>
  </body>
</html>
